.about {
    padding: 80px 0 128px 0;

    &__container {
        display: flex;
    }

    &__text {
        padding: 120px 110px 0px 10px;
        width: 50%;

        &-paragraph {
            font-weight: 400;
            font-size: 20px;
            line-height: 170%;
            text-align: left;
            color: #808080;
            margin: 0 auto;

            &-second {
                font-size: 16px;
                color: #6c757d;
                margin-top: 22px;
            }
        }
    }

    &__paw {
        margin-left: 24px;
    }


    &__title {
        margin-top: 23px;
        text-align: left;
    }

    &__lists {
        list-style: none;
        padding: 0;

        &-item:nth-child(1) {
            margin-top: 28px;
        }

        &-item {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #808080;
            margin-top: 15px;
            position: relative;
            padding-left: 40px;

        }

        &-item::before {
            content: "\f1b0";
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            color: #a2c0be;
            left: 0;
            position: absolute;
        }
    }

    &__videoplayer {
        width: 50%;
        position: relative;

        &-play {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50px;
            height: 50px;
            background: #fff;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }

        &-play:after {
            content: '\f04b';
            font-family: "Font Awesome 6 Free";
            font-size: 16px;
            position: absolute;
            font-weight: 900;
            color: black;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }
    }
}

@media screen and (max-width: 1200px) {
    .about {
        &__text {
            padding: 80px 80px 0px 10px;
        }
    }
}

@media screen and (max-width: 992px) {
    .about {
        padding-top: 20px;

        &__container {
            flex-direction: column;
            gap: 48px;
        }

        &__text {
            width: 100%;
            padding: 0 20px;
        }

        &__videoplayer {
            width: 100%;
        }
    }
}