.introduction {

    background-color: #f8f9fa;

    &__wrapper {
        display: flex;
        height: calc(100vh);
        min-height: 600px;
    }

    &__text {
        align-self: center;
        padding: 0 20px;
        width: 60%;

        &-wrapper {
            span {
                display: block;
            }
        }

        p {
            color: #999999;
            font-size: 19px;
            line-height: 1.5;
            font-weight: 300;
        }
    }

    &__dog {
        align-self: end;
        width: 40%;

        &-box {
            height: 657px;
        }

        &-img {
            height: 100%;
        }


    }


}


@media screen and (max-width: 1200px) {
    .introduction {
        &__dog {
            &-box {
                height: 557px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .introduction {

        &__text {
            width: 50%;
        }

        &__dog {
            width: 50%;

            &-img {
                min-height: auto;
            }

        }
    }
}

@media screen and (max-width: 768px) {
    .introduction {
        &__wrapper {
            flex-wrap: wrap;
            // padding-top: 67px;

        }

        &__text {
            width: 100%;

            &-wrapper {
                span {
                    display: inline-block;
                }

                p {
                    text-align: center;
                }
            }
        }

        &__dog {
            width: 100%;

            &-img {
                margin: 0 auto;
            }
        }
    }
}