.slider {
    padding: 80px 0 80px 0;
    background: #f8f9fa;
    // position: relative;

    &__wrapper {
        margin-top: 48px;
        // height: 520px;
    }

    &__inner {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc(100% / 3);
        overflow: hidden;
        scroll-behavior: smooth;

        &-item {
            padding: 20px 20px;
        }

        &-feedback {
            padding: 32px 32px 50px 32px;
            border-radius: 7px;
            box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.4);
            background: #a2c0be;
            font-style: italic;
            font-weight: 400;
            font-size: 18px;
            line-height: 170%;
            text-align: center;
            color: #000;
        }

        &-user {
            margin-top: 44px;
        }

        &-img {
            display: block;
            margin: 0 auto;
            border: 10px solid #a2c0be;
            border-radius: 50px;
            width: 100px;
            height: 100px;
        }

        &-name {
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;
            text-align: center;
            color: #000;
            margin-top: 14px;
        }
    }

    &__inner.dragging {
        cursor: grab;
        user-select: none;
        scroll-behavior: auto;
    }

    &__inner.no-transition {
        scroll-behavior: auto;
    }

    .arrow {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .arrow-back::before {
        content: '\f060';
        font-size: 22px;
        font-family: "Font Awesome 6 Free";
        font-weight: 700;
    }

    .arrow-next::before {
        content: '\f061';
        font-size: 22px;
        font-family: "Font Awesome 6 Free";
        font-weight: 700;
    }
}

@media screen and (max-width: 992px) {
    .slider {
        &__inner {
            grid-auto-columns: calc(100% / 2);
        }
    }
}

@media screen and (max-width: 768px) {
    .slider {
        &__inner {
            grid-auto-columns: 100%;
        }
    }
}