.trainers {
    padding: 80px 0;
    background-color: #a2c0be;

    &__paw {
        span::before {
            color: white;
        }
    }

    &__paw::after,
    &__paw::before {
        color: white;
    }

    &__title {
        text-transform: uppercase;
        margin-top: 24px;
    }

    &__paragraph {
        font-weight: 400;
        font-size: 16px;
        line-height: 170%;
        text-align: center;
        color: #567876;
        margin: 0 auto;
        margin-top: 8px;
        width: 50%;

    }

    &__container {
        margin-top: 67px;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 349px;
    }

    &__photo {
        position: relative;
        z-index: 1;

        img {
            width: 100%;
        }
    }

    &__photo::after {
        content: "";
        z-index: -1;
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
        transition: .3s ease-in-out;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &__photo:hover::after {
        transform: translate(10px, 10px);
    }

    &__about {
        margin-top: 48px;
        padding: 0 10px;

        &-name {
            font-weight: 400;
            font-size: 20px;
            line-height: 121%;
            color: #405a58;
        }

        &-more {
            font-weight: 400;
            margin-top: 22px;
            font-size: 16px;
            line-height: 170%;
            color: #567876;
        }

        &-links {
            margin-top: 22px;
            padding: 0;
            display: flex;
            justify-content: start;
            list-style-type: none;
            gap: 7px;

            a {
                color: black;
                text-decoration: none;

                span {
                    position: relative;
                    width: 30px;
                    height: 30px;
                    background: white;
                    text-align: center;
                    border-radius: 50%;
                    display: block;
                    top: 0;
                    transition: all .2s ease-in;
                }

                span:hover {
                    top: -7px
                }
            }

            .icons::after {
                content: '';
                font-family: "Font Awesome 6 Brands";
                font-weight: 900;
                font-size: 13px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .twitter::after {
                content: '\f099';
            }

            .instagram::after {
                content: '\f16d';
            }

            .facebook::after {
                content: '\f39e';
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .trainers {
        &__item {
            width: 289px;
        }
    }
}

@media screen and (max-width: 992px) {
    .trainers {
        &__container {
            margin-top: 67px;
            display: flex;
            // justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;
        }

        &__item {
            width: 329px;
        }
    }
}

@media screen and (max-width: 768px) {
    .trainers {
        &__container {
            margin-top: 67px;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

        &__item {
            width: 100%;
        }
    }
}