.animation-on-welcome {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.5s ease-out;
}

.fade-left {
    opacity: 0;
    transform: translate(100px, 0);
    transition: all 0.5s ease-out;
}

.fade-right {
    opacity: 0;
    transform: translate(-100px, 0);
    transition: all 0.5s ease-out;
}


.animate {
    opacity: 1;
    transform: translate(0, 0);
}