@use './base/modern-normalize.min.css';
@use './base/basic.scss';

@use './ui/title.scss';
@use './ui/animation.scss';

@use './blocks/header.scss';
@use './blocks/sidebar.scss';
@use './blocks/introduction.scss';
@use './blocks/welcome.scss';